.watched-movie-item {
  position: relative;
  display: grid;
  grid-template-columns: 4rem 1fr;
  grid-template-rows: auto auto;
  cursor: pointer;
  transition: all 0.3s;
  column-gap: 2.4rem;
  font-size: 1.6rem;
  align-items: center;
  padding: 1.6rem 3.2rem;
  border-bottom: 1px solid var(--color-background-100);
}

.watched-movie-item:hover {
  background-color: var(--color-background-100);
}

.watched-movie-item img {
  width: 100%;
  grid-row: 1/-1;
}

.watched-movie-info {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.btn-delete {
  position: absolute;
  right: 2.4rem;
  height: 1.8rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: var(--color-red);
  color: var(--color-background-900);
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-delete:hover {
  background-color: var(--color-red-dark);
}
