.add-form {
  display: flex;
  background-color: #e5771f;
  padding: 2.8rem 0;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.add-form-label {
  margin-right: 1.6rem;
  font-size: 2.4rem;
}

.add-form-qty-select,
.add-form-item-input,
.add-form-add-button {
  background-color: #ffebb3;
  color: #5a3e2b;
  font-family: inherit;
  border: none;
  border-radius: 10rem;
  padding: 1.2rem 3.2rem;
  font-weight: 700;
  font-size: 1.8rem;
  cursor: pointer;
}

.add-form-add-button {
  text-transform: uppercase;
  background-color: #76c7ad;
}
